server:
  port: ${APP_PORT:8080}

spring:
  application:
    name: online-library
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/library}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:update}

management:
  endpoints:
    web:
      exposure:
        include: health,info

